<div ng-controller="loginCtrl">
	<div align="center" >
<br/>
<br/>
<br/>
<br/>
<br/>
<h1 > LOG-IN PAGE </h1>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


Please enter USERNAME and PASSWORD and press LOGIN button
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
  <form id="myLogin" align="center">
  
  <table  align="center" >

    
  <tr>
  <td>
	<b>	Username: </b><input type="text" id="username" ng-model="username">
    </td>
  </tr>
  
  <tr>
  <td>

	<b>	Password :     </b><input type="password" id="password" ng-model="password">
    </td>
  </tr>
  <tr>
    <td><br/>
    </td>
  </tr>
  <tr>
    <td colspan="1" >
      <button ng-click="submit()"  >Login</button>
    </td>
  </tr>
  

 </table>
 		
	</form>
</div>
</div>